.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
  padding: 40px;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.7);
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product_rating {
  display: flex;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 30px;
}
.product_info {
  height: 100px;
  margin-bottom: 45px;
  width: 100%;
}
.product_price {
  margin-top: 5px;
}
.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
